<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>My To-Do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Base/Base.css' %}"/>
</head>
<body>
<div class="base-container">
    <div class="container">
        <div class="card">
            {% if user.is_authenticated %}
            <div class="base-logo">
                <a href="{% url 'todo_list' %}" class="todo-logo">ToDo List using Django</a><br><br>
            </div>
            <div class="base-btn">
                <form id="logout-form" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="base-btn-login">Logout</button>
                </form>
                <form id="register-form" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <button type="submit" class="base-btn-create">Create Account</button>
                </form>
            </div>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>